$black: #000000;
$white: #F3F3F3;
$green: #6AAA64;
$yellow: #CEB02C;
$gray: #939B9F;
$dark-gray: #818181;
$dark-blue: #262B3CE3;
$dark-blue-header: #DADCE008;
$dark-mode: #262B3CE3;

$backgroundColor: rgba(243, 243, 243, 0.89);