.Filter {
  &.isDark {
    & label {
      color: white;
    }

    & .css-1ebk7fo-MuiFormControl-root, .MuiFormControl-root {
      border: 1px solid white !important;
    }

    & svg {
      fill: white;
    }

    & .css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
      color: white;
    }
  }
}